DATA: # arguments that will be passed to get_dataloaders
  dataset: "single_goal_small_rand/6000"
  data_dir: "/workspace/Datasets/ESFAL"
  batch_size: 128
  return_index: False
  augmentation: False
  shuffle: True
  noise_level: 0.0

MODEL:
  model_name: AttentionConditionalUnet1D
  PARAMS: # arguments that will be passed to the chosen models
    timesteps: 1000
    input_dim: 3
    embedding_dim: 32
    diffusion_step_embed_dim: 128
    down_dims: {32, 64, 128}
    kernel_size: 3
    exclude_first: 10
    num_heads: 1

TRAINING: # arguments that will be passed to the trainer
  criterion_str: MSELoss
  optimizer:
    optimizer_name: AdamW
    PARAMS:
      lr: 0.001
      weight_decay: 1.0e-6
  epochs: 10000
  logdir: "./logs/Attention/"
  use_logger: True